[phases.setup]
nixPkgs = ["nodejs-20_x"]

[phases.install]
cmds = ["npm install --legacy-peer-deps --include=dev"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start"

[build]
workingDir = "web"
